@import "tailwindcss";

@theme {
  --color-primary:#30333e;  
  --color-secondary: #3a3c44;         
  --color-lightBg: #f5f5f5;       
  --color-accent: #44a83e;       
  --color-dark: #000000;       
}
